h1 {
  text-align: center;
}
.search-box {
  text-align: center;
  margin-top: 20px;
}

.input-field {
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 6px;
}

.imagegif {
  cursor: pointer;
}
.outer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.inner {
  margin-bottom: 10px;
  margin-left: 10px;
  height: 50%;
  width: 50%;
}

.outer-outer {
  display: flex;
  justify-content: space-between;
}
